/*Color Codes
    turquoise Fh: #6cb3b9
    shadow Fh: rgba(78, 130, 135, 1)

 */

/*
    Allgemein
 */
html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
    font-family: "Lato", sans-serif;
}

h1 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    width: 25em;
}
h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    width: 25em;
}

/* Error-Handler messages*/
.errormessage {
    color: red;
    margin: auto;
    width: 20em;
    background-color: #fcd2d1;
}
.successmessage {
    color: green;
    margin: auto;
    width: 20em;
    background-color: #d3e4cd;
}

.speiseplanimage {
    width: 10em;
    height: 5em;
}

/*
    Bewertungen
*/

.bewertungenimage{
    width: 20em;
    height: 15em;
}

.btn_bewerten{
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 45px;
    width: 100px;
    height: 30px;

    text-align: center;
    text-decoration: none;
    color: #000000;
}
.btn_bewerten:hover{
    background-color: #6cb3b9;
    box-shadow: 0px 15px 20px rgba(78, 130, 135, 1);
    color: #fff;
    transform: translateY(-7px);
}

/* Sternebewertung */

.bewertung{
    display: flex;
    justify-content:center;
}

span#Bewertung label {
    line-height: 45px;
    cursor: Pointer;
   }
   
   span#Bewertung input[type="radio"] {
    /*display: None;*/ 
   }
   
   p.sternebewertung {
    float: Left;
   }
   
   p.sternebewertung:not(:checked) > input {
    display: None;
   }
   
   p.sternebewertung:not(:checked) > label {
    float: Right;
    width: 1em;
    padding: 0 .1em;
    overflow: Hidden;
    white-space: Nowrap;
    cursor: Pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #D0D0D0;
    text-shadow: 1px 1px #B0B0B0, 2px 2px #606060, .1em .1em .2em rgba(0,0,0,.5);
    transition: all .5s;
   }
   
   p.sternebewertung:not(:checked) > label::before {
    content: '★ ';
   }
   
   p.sternebewertung > input:checked ~ label {
    color: #FFD700;
    text-shadow: 1px 1px #C06000, 2px 2px #904000, .1em .1em .2em rgba(0,0,0,.5);
    animation: twinkle 1s ease-in-out infinite alternate;
   }
   
   p.sternebewertung:not(:checked) > label:hover,
   p.sternebewertung:not(:checked) > label:hover ~ label {
    color: #FECF41;
    text-shadow: 1px 1px #F29E02, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
   }
   
   p.sternebewertung > input:checked + label:hover,
   p.sternebewertung > input:checked + label:hover ~ label,
   p.sternebewertung > input:checked ~ label:hover,
   p.sternebewertung > input:checked ~ label:hover ~ label,
   p.sternebewertung > label:hover ~ input:checked ~ label {
    color: #FBB600;
    text-shadow: 1px 1px #F8BA01, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
   }
   
   @keyframes twinkle {
    to {
     text-shadow: 1px 1px #FFE653, 2px 2px #FFF5BF, .1em .1em .2em rgba(0,0,0,.5);
    }
   }
