/*Color Codes
    turquoise Fh: #6cb3b9
    shadow Fh: rgba(78, 130, 135, 1)

 */

/*
    Allgemein
 */
html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
    font-family: "Lato", sans-serif;
}

h1 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    width: 25em;
}
h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    width: 25em;
}

/* Error-Handler messages*/
.errormessage {
    color: red;
    margin: auto;
    width: 20em;
    background-color: #fcd2d1;
}
.successmessage {
    color: green;
    margin: auto;
    width: 20em;
    background-color: #d3e4cd;
}

.speiseplanimage {
    width: 10em;
    height: 5em;
}

/*
    Bewertungen
*/

.bewertungenimage{
    width: 20em;
    height: 15em;
}

.btn_bewerten{
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 45px;
    width: 100px;
    height: 30px;

    text-align: center;
    text-decoration: none;
    color: #000000;
}
.btn_bewerten:hover{
    background-color: #6cb3b9;
    box-shadow: 0px 15px 20px rgba(78, 130, 135, 1);
    color: #fff;
    transform: translateY(-7px);
}

   
