.btn_wunschgericht {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 45px;
    width: 200px;
    height: 30px;

    text-align: center;
    text-decoration: none;
    color: #000000;
}
.btn_wunschgericht:hover {
    background-color: #6cb3b9;
    box-shadow: 0px 15px 20px rgba(78, 130, 135, 1);
    color: #fff;
    transform: translateY(-7px);
}

#firstRow {
    margin-top: 2em;
}
#secondRow {
    margin-top: 1em;
}

.wunschgericht_form {
    border-radius: 12px;
    margin: auto;
    margin-top: 5em;
    height: 5em;
    width: 65em;
    align-content: center;
    border: solid 1px grey;
    padding: 10px;
    margin-bottom: 3em;
    box-shadow: -1px 5px 9px 1px rgba(0, 0, 0, 0.7);
}
div.wunschgericht_form > input {
    height: 3.5em;
    padding: 16px 12px 0 12px;
    box-shadow: inset 0 -1px 0;
    background: #ffffff;
    border: 0;
    transition: 0.3s;
    margin-right: 1em;
    margin-left: 1em;
}
div.wunschgericht_form > input:hover {
    background: #e1e8eb;
    border-color: #6cb3b9;
}

.wunschgericht_form > textarea {
    height: 3.5em;
    padding: 16px 12px 0 12px;
    box-shadow: inset 0 -1px 0;
    background: #ffffff;
    border: 0;
    transition: 0.3s;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: -1em;
}

.wunschgericht_form > textarea:hover {
    background: #e1e8eb;
    border-color: #6cb3b9;
}

.wunschgericht_form > button {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 45px;
    width: 150px;
    height: 45px;
}
.wunschgericht_form > button:hover {
    background-color: #6cb3b9;
    box-shadow: 0px 15px 20px rgba(78, 130, 135, 1);
    color: #fff;
    transform: translateY(-7px);
}
